<caro-nav-bar></caro-nav-bar>

<div>
  <h1> Weather challenge </h1>
  <div class="panel panel-primary" id="panel">
    <div class="panel-heading"> City </div>
      <div class="panel-body"> Please write a city
        <form class="city-input">
          <input class="form-control" type="text" ng-model="maps.city" placeholder="City Name" >
          <div>
            <button class="btn btn-primary" type="submit" ng-click="maps.getWeather(maps.city)"> Get Weather </button>

            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="buton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class="glyphicon glyphicon-star"></span> Favorites </button>
               <ul class="dropdown-menu" >
                <li>
                  <a ng-repeat="favorite in maps.favorites track by $index" ng-click="maps.searchFavorite(favorite)">{{favorite}}</a>
                </li>
               </ul>
            </div>
          </div>
             
        </form>
    </div>
  </div>
  <div class="panel panel-primary" id="panel" >
    <div class="panel-heading"> Result </div>
    <table class="table">
      <thead>
        <th> Field </th>
        <th> Result </th>
      </thead>
      <tbody>
        <tr> 
          <td> City </td> 
          <td> {{maps.currentWeather.name}} </td> 
        </tr>
        <tr> 
          <td> Country </td>
          <td> {{maps.currentWeather.sys.country}} </td> 
        </tr>
        <tr> 
          <td> Latitude  </td>
          <td> {{maps.currentWeather.coord.lat}}  </td>
        </tr>
        <tr> 
          <td> Longitude  </td>
          <td> {{maps.currentWeather.coord.lon}}  </td>
        </tr>
        <tr> 
          <td> Current Weather </td>
          <td> {{maps.currentWeather.weather[0].description}} </td>
        </tr>
        <tr> 
          <td> Wind Speed </td>
          <td> {{maps.currentWeather.wind.speed}} </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="maps.show" >
    <div class="floating-panel">
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" ng-click="maps.canAddMarkers()"> Block Markers </button>
      <button class="btn btn-primary" type="submit" ng-click="maps.clearMarkers()"> Hide Markers </button>
      <button class="btn btn-primary" type="submit" ng-click="maps.showMarkers()"> Show All Markers </button>
      <button class="btn btn-primary" type="submit" ng-click="maps.deleteMarkers()"> Delete Markers </button>
    </div>
    <div id="map" ></div>
  </div>

  <div class="share">

    <!-- Google Plus -->
    <a ng-click="maps.gplusShare()" class="share-btn google-plus">
        <i class="fa fa-google-plus fa-2x"></i>
    </a>

   <!-- Facebook -->
    <a ng-click="maps.shareFB()" class="share-btn facebook">
        <i class="fa fa-facebook fa-2x"></i>
    </a>
  </div>

  
  <div ui-view="">
  </div>
</div>