<caro-nav-bar></caro-nav-bar>

<h1> Welcome to Carop Pages </h1>
<h3 class="description"> This pages is only to learn different programming languages with Talos Digital purpose </h3>

<div ui-view="">

</div>

<!-- <div class="user-info" ng-show="modal.show">
  <h2>Log in Google</h2>
  <h3> Name: {{modal.profileGoogle.getName()}} </h3>
  <h4> Email: {{modal.profileGoogle.getEmail()}}</h4>
  <img src="{{modal.profileGoogle.getImageUrl()}}">
</div> -->

<!-- <div class="user-info" ng-show="modal.show">
  <h2>Log in Facebook </h2>
  <h3> Name: {{modal.fbProfile.name}} </h3>
  <h4> Id: {{modal.fbProfile.id}}</h4>
</div> -->

