<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log in</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-block btn-facebook" ng-click="modal.FBLogin()">
          <i class="ion-social-facebook"></i> Sign in with Facebook
        </button>
        <button id="customBtn"  class="btn btn-block btn-google-plus" ng-click="modal.startApp()">
         <span class="icon"></span>
         <span class="buttonText"> Sign in with Google</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close </button>
      </div>
    </div>
  </div>
</div>

